
<body>
<div>
  <nav class="navbar navbar-expand-lg navbar-dark "
       style="background-color: #046056;position: sticky;top: 0;z-index: 1;">
    <div class="container-fluid">
      <a class="navbar-brand">Facility</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="container-fluid">
        <a class="navbar-brand " th:href="@{/}">
          Back to Main Page
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent1">
        </div>
      </div>
      <div class="container-fluid">
        <a class="navbar-brand ">
          Create Facility
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent2">
        </div>
      </div>

      <form class="d-flex" th:action="@{/facility/search}">
        <input class="form-control me-2" size="60px" placeholder="Search" name="name" aria-label="Search"
               th:text="${name}">
        <button class="btn btn-outline-success" type="submit" value="search">Search</button>
      </form>
    </div>
  </nav>
  <div class="body_center_2 container">
    <form th:action="@{/facility/save}" method="post" th:object="${facilityDto}">
      <p></p>
      <div class="mb-3">
        <label class="form-label">Facility Type</label>
        <select class="form-select" name="" id="facilityType" onload="onchangeFacility(this.value)"
                onchange="onchangeFacility(this.value)" th:field="*{facilityType}">
          <option th:each="row:${facilityTypeList}" th:text="${row.facilityTypeName}"
                  th:value="${row.facilityTypeId}"></option>
        </select>
      </div>
      <div class="mb-3">
        <label class="form-label"> Facility Name</label>
        <input class="form-control" type="text" th:field="*{facilityName}">
        <p style="color:red" th:if="${#fields.hasErrors('facilityName')}" th:errors="*{facilityName}"></p>
      </div>
      <div class="mb-3">
        <label class="form-label">Cost</label>
        <input type="number" class="form-control" th:field="*{facilityCost}">
        <p style="color:red" th:if="${#fields.hasErrors('facilityCost')}" th:errors="*{facilityCost}"></p>

      </div>

      <div class="mb-3">
        <label class="form-label">Area</label>
        <input class="form-control" type="number" th:field="*{facilityArea}">
        <p style="color:red" th:if="${#fields.hasErrors('facilityArea')}" th:errors="*{facilityArea}"></p>
      </div>

      <div class="mb-3">
        <label class="form-label">Max People</label>
        <input class="form-control" type="number" th:field="*{facilityMaxPeople}">
        <p style="color:red" th:if="${#fields.hasErrors('facilityMaxPeople')} "
           th:errors="*{facilityMaxPeople}"></p>
      </div>

      <div class="mb-3">
        <label class="form-label">Rent type</label>
        <select class="form-select" th:field="*{rentType}">
          <option th:each="row:${rentTypeList}" th:text="${row.rentTypeName}"
                  th:value="${row.rentTypeId}"></option>
        </select>

      </div>
      <div class="mb-3" id="standardRoom">
        <label class="form-label">Stand Room</label>

        <input type="text" th:field="*{facilityStandardRoom}"
               class=" form-control">
        <p style="color:red" th:if="${#fields.hasErrors('facilityStandardRoom')}"
           th:errors="*{facilityStandardRoom}"></p>
      </div>

      <div class="mb-3" id="other">
        <label class="form-label">Description other convenience</label>
        <input class=" form-control" type="text"
               th:field="*{facilityDescriptionOtherConvenience}">
        <p style="color:red" th:if="${#fields.hasErrors('facilityDescriptionOtherConvenience')}"
           th:errors="*{facilityDescriptionOtherConvenience}"></p>
      </div>

      <div class="mb-3" id="pool">
        <label class="form-label">Pool Area</label>
        <input type="text" th:field="*{facilityPoolArea}"
               class="form-control">
        <p style="color:red" th:if="${#fields.hasErrors('facilityPoolArea')}"
           th:errors="*{facilityPoolArea}"></p>
      </div>

      <div class="mb-3" id="floors">
        <label class="form-label">Number of Floors</label>
        <input type="text" th:field="*{facilityNumberOfFloors}"
               class=" form-control">
        <p style="color:red" th:if="${#fields.hasErrors('facilityNumberOfFloors')}"
           th:errors="*{facilityNumberOfFloors}"></p>
      </div>

      <div class="mb-3" id="free">
        <label class="form-label">Free service</label>
        <input type="text" th:field="*{facilityFreeService}"
               class=" form-control">
        <p style="color:red" th:if="${#fields.hasErrors('facilityFreeService')}"
           th:errors="*{facilityFreeService}"></p>
      </div>
      <center>
        <input type="submit" class="btn btn-outline-primary" value="Create">
      </center>
    </form>
  </div>
  <script>
    let value = document.getElementById("facilityType").value;
    if (value == 1) {
      $("#standardRoom").show();
      $("#other").show();
      $("#pool").show();
      $("#floors").show();
      $("#free").hide();
    } else if (value == 2) {
      $("#standardRoom").show();
      $("#other").show();
      $("#pool").hide();
      $("#floors").show();
      $("#free").hide();
    } else if (value == 3) {
      $("#standardRoom").hide();
      $("#other").hide();
      $("#pool").hide();
      $("#floors").hide();
      $("#free").show();
    } else {
      $("#standardRoom").hide();
      $("#other").hide();
      $("#pool").hide();
      $("#floors").hide();
      $("#free").hide();
    }

    function onchangeFacility(value) {
      debugger
      if (value == 1) {
        $("#standardRoom").show();
        $("#other").show();
        $("#pool").show();
        $("#floors").show();
        $("#free").hide();
      } else if (value == 2) {
        $("#standardRoom").show();
        $("#other").show();
        $("#pool").hide();
        $("#floors").show();
        $("#free").hide();
      } else if (value == 3) {
        $("#standardRoom").hide();
        $("#other").hide();
        $("#pool").hide();
        $("#floors").hide();
        $("#free").show();
      } else {
        $("#standardRoom").hide();
        $("#other").hide();
        $("#pool").hide();
        $("#floors").hide();
        $("#free").hide();
      }
    }
  </script>



</div>
</body>

