<h1>Cập nhật thông tin sản phẩm</h1>
<form [formGroup]="productForm" (ngSubmit)="updateProduct(id)" *ngIf="productForm">
  <table class="table">
    <tr>
      <td>Tên sản phẩm:</td>
      <td>
      <select  formControlName="name"  class="form-control">
        <option value="" disabled selected="selected">Please choose </option>
        <option *ngFor="let productName of categores"
                [ngValue]="productName.id">{{productName.name}}</option>
      </select>
      </td>
    </tr>
    <tr>
      <td>Giá sản phẩm</td>
      <td><input type="number" formControlName="price" class="form-control"></td>
    </tr>
    <tr>
      <td>Mô tả về sản phẩm</td>
      <td><input type="text" formControlName="description" class="form-control"></td>
    </tr>
    <tr>
      <td></td>
      <td><button>Cập nhật</button></td>
    </tr>
  </table>
</form>
