<h1>Tạo sản phẩm mới</h1>
<form [formGroup]="productForm" (ngSubmit)="submit()">
  <table class="table">

    <tr>
      <label class="form-label">Tên sản phẩm:</label>
      <select  formControlName="name"  class="form-control">
        <option value="" disabled selected="selected">Please choose </option>
        <option *ngFor="let productName of categores"
                [ngValue]="productName">{{productName.name}}</option>
      </select>


    </tr>
    <tr>
      <label class="form-label">Giá sản phẩm</label>
    <input type="number" formControlName="price" class="form-control">
    </tr>
    <tr>
      <label class="form-label">Mô tả về sản phẩm</label>
      <input type="text" formControlName="description" class="form-control">
    </tr>
    <tr>
      <td><button class="btn btn-success" style="color: black">Tạo mới</button></td>
    </tr>
  </table>
</form>
