<h1>Tạo sản phẩm mới</h1>
<form [formGroup]="productForm" (ngSubmit)="submit()">
  <table class="table">
    <tr >
      <label class="form-label">Mã sản phẩm:</label>
     <input type="number" formControlName="id" class="form-control">
    </tr>
    <tr>
      <label class="form-label">Tên sản phẩm:</label>
      <input type="text" formControlName="name" class="form-control">
    </tr>
    <tr>
      <label class="form-label">Giá sản phẩm</label>
    <input type="number" formControlName="price" class="form-control">
    </tr>
    <tr>
      <label class="form-label">Mô tả về sản phẩm</label>
      <input type="text" formControlName="description" class="form-control">
    </tr>
    <tr>
      <td><button class="btn btn-success" style="color: black">Tạo mới</button></td>
    </tr>
  </table>
</form>
