<div>
  <div class="body_center_2 container">
    <div  style="text-align: center">
      <h3>Edit Facility</h3>

    </div>
    <!--    <form>-->
    <p></p>
    <div class="mb-3">
      <label class="form-label">Facility Type</label>
      <select class="form-select" name="" id="facilityType">
        <option value="Room">Room</option>
        <option value="House">House</option>
        <option value="Villa">Villa</option>

      </select>
    </div>
    <div class="mb-3">
      <label class="form-label"> Facility Name</label>
      <input class="form-control" type="text">
    </div>
    <div class="mb-3">
      <label class="form-label">Cost</label>
      <input type="number" class="form-control">

    </div>

    <div class="mb-3">
      <label class="form-label">Area</label>
      <input class="form-control" type="number">
    </div>

    <div class="mb-3">
      <label class="form-label">Max People</label>
      <input class="form-control" type="number">
    </div>

    <div class="mb-3">
      <label class="form-label">Rent type</label>
      <select class="form-select">
        <option value="Date">Date</option>
        <option value="Month">Month</option>
        <option value="Year"> Year</option>
      </select>

    </div>
    <div class="mb-3" id="standardRoom">
      <label class="form-label">Stand Room</label>

      <input type="text" class=" form-control">
    </div>

    <div class="mb-3" id="other">
      <label class="form-label">Description other convenience</label>
      <input class=" form-control" type="text">

    </div>

    <div class="mb-3" id="pool">
      <label class="form-label">Pool Area</label>
      <input type="text" class="form-control">
    </div>

    <div class="mb-3" id="floors">
      <label class="form-label">Number of Floors</label>
      <input type="text" class=" form-control">
    </div>

    <div class="mb-3" id="free">
      <label class="form-label">Free service</label>
      <input type="text" class=" form-control">
    </div>
    <div style="text-align: center">
      <input type="submit" class="btn btn-outline-primary" value="Edit">
    </div>
    <!--    </form>-->
  </div>
</div>
