
.footer {
  /*position: absolute;*/
  /*left: 0;*/
  /*bottom: 0;*/
  /*width: 100%;*/
  /*background-color: white;*/
  /*color: white;*/
  /*text-align: center;*/
display: flex;
  flex-wrap: wrap;
  bottom: 0px ;
  margin-top: auto;
  padding: 10px;
}
