<h1>Danh sách danh mục sản phẩm</h1>
<a routerLink="/category/create">Tạo mới danh mục</a>
<table class="table">
  <tr>
    <td>STT</td>
    <td>Tên</td>
    <td></td>
  </tr>
  <tr *ngFor="let category of categories; index as i">
    <td>{{i + 1}}</td>
    <td>{{category.name}}</td>
    <td><a [routerLink]="['/category/edit',category.id]">Edit</a></td>
    <td>
      <button type="button" style="color: black" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete"
              (click)="openDelete(category.id,category.name)">
        Delete
      </button>
    </td>
    <div class="modal fade" id="delete" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Delete Customer</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
          </div>
          <div class="modal-body" style="color: red">
            Do you want delete product :{{name}}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
              Cancel
            </button>
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="delete(id)">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </tr>
</table>
